*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  text-decoration: none;}
  
  html,body{
    height: 100%;
  }
  
  body{
    background-color: black;
  }
  
  .wave{
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wave-btn{
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all  0.8s ease 0s;
    position: relative;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
  }
  
  .wave-btn:hover{
    border-radius: 10px;
    transition: all  0.5s ease 0.2s;
    box-shadow:  0 0 40px rgba(73, 115, 255, 0.6);
  }
  
  
  .wave-btn:hover .wave-btn__waves{
    top: -50px;
  }
  
  .wave-btn__text{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    opacity: 0.7;
    color: white;
    text-transform: uppercase;
    letter-spacing: 8px;
    position: relative;
    z-index: 1;
    transition: all 0.4s;
  }
  
  .wave-btn:hover .wave-btn__text{
    opacity: 1;
    
  }
  .wave-btn__waves{
    position: absolute;
    width: 280px;
    height: 280px;
    top: 0;
    left: 0;
    background-color: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: all  0.8s ease 0s;
  }
  
  .wave-btn__waves::after,.wave-btn__waves::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 250%;
    height: 250%;
    
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
  }
  .wave-btn__waves::before{
    background-color: black;
    border-radius: 48%;
    
    animation: waves 5s infinite linear;
  }
  .wave-btn__waves::after{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 44%;
    
    animation: waves 10s infinite linear;
  }
  
  @keyframes waves{
    0%{
      transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    }
    
    100%{
      transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    }
  }